@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Ecom-xpress</h1>
    <p>Any Product can order here.It is the one of the  fastest growing E-commerce company </p>
</div>
